img {
    width: 150px;
    border:1px solid white;
}

#container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;      
}

button {
    margin-left: 1%;
    color:crimson;
    border: 1px solid crimson;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}

button:hover {
    color:white;
    background-color: crimson;
    cursor: grab;
}

body {
    text-align: center;
}

h1 {
    color: crimson;
}